body{
    background-color: antiquewhite;
}
h1{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: antiquewhite;
    background-color: brown;
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(112, 84, 73);
}
h3{
    display: flex;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
}
.divs{
    display: flex;
    justify-content: space-around;
}
span{
    color: rgb(112, 84, 73);
}
.a{
    font-weight: bold;
    color: brown;
    font-size: 20px;
}