
body{
    background-image:linear-gradient( to right, #0e2c40, #26677c);
}
.fatos{
    color:#C1E1A7
}
#Nome{
    color:#EFBC75
}
.texto{
    color:#148D8D
}
img{
    border-radius: 15px;
    border: 2px solid #EFBC75;
}
a{
    color: #148D8D;
}
a:hover {
    color: #EFBC75;
}
.meu-iframe{
    border-radius: 10px;       
}
table, th, td {
  border: 2px solid #EFBC75;
  border-collapse: collapse;
}
th, td {
  background-color: #148D8D
}
th, td {
  padding: 15px;
}