<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="dados.css" rel="stylesheet">
</head>
<body>
<br>
<h1>Seu cadastro foi efetuado com sucesso!</h1>
<h2>Você já pode realizar o seu Login</h2>
<br>
<a href="login.html">Realize seu login</a>

</body>
</html>
